VITE_FIREBASE_API_KEY=AIzaSyA8I6umNrVAwE2Idca4bluWa4NSxpVCBDI
VITE_FIREBASE_AUTH_DOMAIN=donations-a0306.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=donations-a0306
VITE_FIREBASE_STORAGE_BUCKET=donations-a0306.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=441501278511
VITE_FIREBASE_APP_ID=1:441501278511:web:a9f4d20c4ac2e46a26c1da
